<div class="container" style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
    <div class="container">
        <button type="button" (click)="evaluateAll()" class="btn btn-outline-primary btn-lg btn-block">Evaluar Candidatos</button>
    </div>
    <br/>
    <ngb-alert *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true">Evaluación lista, certeza obtenida  {{accuracy}}!</ngb-alert>

    <data-table id="persons-grid"
        headerTitle="Candidatos"
        [items]="items"
        [itemCount]="itemCount"
        (reload)="reloadItems($event)"
		[limit]="50"
        (rowClick)="rowClick($event)"
        (rowDoubleClick)="rowDoubleClick($event)"
        [rowTooltip]="rowTooltip">
        <data-table-column
            [property]="'name'"
            [header]="'Nombre'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'age_range'"
            [header]="'Edad'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <!--<data-table-column
            [property]="'sex'"
            [header]="'Sexo'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>-->
        <!--<data-table-column
            [property]="'birth_city'"
            [header]="'Ciudad Nac.'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>-->
        <data-table-column
            [property]="'max_education'"
            [header]="'Nivel Educación'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'idioms'"
            [header]="'Idiomas'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'experience'"
            [header]="'Experiencia'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'job_average'"
            [header]="'Prom. Empleos'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column header="Habilidades">
            <ng-template #dataTableHeader let-item="item">
                Habilidades
            </ng-template>
            <ng-template #dataTableCell let-item="item">
                <!--<ul>-->
                    <small>Liderazgo: {{item.skill_leadership}}</small><br/>
                    <small>Social: {{item.skill_social}}</small><br/>
                    <small>Creatividad: {{item.skill_creativity}}</small><br/>
                    <small>Resp.: {{item.skill_social}}</small><br/>
                <!--</ul>-->
            </ng-template>
        </data-table-column>

        
        <data-table-column  header="Calificación">
            <ng-template #dataTableHeader let-item="item">
                <i>Calificación</i>
            </ng-template>
            <ng-template #dataTableCell let-item="item">
                <div class="text-center">
                   <span class="fa fa-star-half-o fa-2x" aria-hidden="true" *ngIf="item.score == 'CUMPLE EXPECTATIVAS'"></span>
                   <span class="fa fa-star fa-2x" aria-hidden="true" *ngIf="item.score == 'SUPERA EXPECTATIVAS'"></span>
                   <span class="fa fa-star-o fa-2x" aria-hidden="true" *ngIf="item.score == 'NO CUMPLE EXPECTATIVAS'"></span>
                   <span class="fa fa-heart-o fa-2x" aria-hidden="true" *ngIf="item.score == '-'"></span>
                </div>
            </ng-template>
        </data-table-column>



<!--        <data-table-column
            [property]="'date'"
            [header]="'Date'"
            [sortable]="true">
            <ng-template #dataTableCell let-item="item">
                <span>{{item.date | date:'yyyy-MM-dd'}}</span>
            </ng-template>
        </data-table-column>
        <data-table-column
            property="phoneNumber"
            header="Phone number"
            width="150px">
        </data-table-column>
        <data-table-column
            [property]="'jobTitle'"
            [header]="'Job title'"
            [visible]="false">
        </data-table-column>
        <data-table-column
            [property]="'active'"
            [header]="'Active'"
            [width]="100"
            [resizable]="true">
            <ng-template #dataTableHeader let-item="item">
                <span style="color: rgb(232, 0, 0)">Active</span>
            </ng-template>
            <ng-template #dataTableCell let-item="item">
                <span style="color: grey">
                <span class="fa fa-check" aria-hidden="true" *ngIf="item.active"></span>
                <span *ngIf="!item.active">remove</span>
                </span>
            </ng-template>
        </data-table-column>
        <data-table-column header="Actions">
	      <ng-template #dataTableHeader let-item="item">
	        <i>Actions</i>
	      </ng-template>
	      <ng-template #dataTableCell let-item="item">
	        <button (click)="personClicked(item)" class="btn btn-sm btn-default">Buy</button>
	      </ng-template>
	    </data-table-column>
-->
    </data-table>
</div>