<!--
	name = models.CharField(max_length=200)
	age_range = models.CharField(max_length=5)
	sex = models.CharField(max_length=1)
	nacionality = models.CharField(max_length=5)
	birth_city = models.CharField(max_length=100)
	max_education = models.CharField(max_length=50)
	idioms = models.CharField(max_length=50)
	experience = models.CharField(max_length=50)
	job_average = models.CharField(max_length=50)
	skill_leadership = models.CharField(max_length=2)
	skill_social = models.CharField(max_length=2)
	skill_creativity = models.CharField(max_length=2)
	skill_responsability = models.CharField(max_length=2)
-->
<div class="container">
	<form (ngSubmit)="onSubmit()" #candidateForm="ngForm">
		<div class="row">
			<div class="col">
				<h3>Nuevo Postulante</h3>
			</div>
			<div class="col">
			  <button type="submit" class="btn btn-outline-primary btn-lg pull-right">Evaluar</button>	
			</div>
		</div>
		<hr/>
		<ngb-alert *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true">El postulante se guardó correctamente!</ngb-alert>
		<div class="row">
			<div class="col-3">
				<div class="card">
					<div class="card-header">
				    Detalle
				  </div>
				  <div class="card-body">
						<label>Nombre: {{candidate.name}}</label>
						<br/>
						<label>Prom. edad: {{candidate.age_range}}</label>
						<br/>
						<label>Sexo: {{candidate.sex}}</label>
						<br/>
						<label>Pais: {{candidate.nacionality}}</label>
						<br/>
						<label>Ciudad: {{candidate.birth_city}}</label>
						<br/>
						<label>Educación: {{candidate.max_education}}</label>
						<br/>
						<label>Idiomas: {{candidate.idioms}}</label>
						<br/>
						<label>Experiencia: {{candidate.experience}}</label>
						<br/>
						<label>Prom. Otros Empleos: {{candidate.job_average}}</label>
						<br/>
						<label>Liderazgo: {{candidate.skill_leadership}}</label>
						<br/>
						<label>Social: {{candidate.skill_social}}</label>
						<br/>
						<label>Creatividad: {{candidate.skill_creativity}}</label>
						<br/>
						<label>Responsabilidad: {{candidate.skill_responsability}}</label>
				  </div>
				</div>
			</div>
			<div class="col-9">
				<div class="row">
					<div class="col">
					  <div class="form-group">
					    <label for="name">Nombre Completo</label>
					    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="candidate.name" aria-describedby="nameHelp" placeholder="Ingrese Nombre">
					  </div>
			    </div>
			    <div class="col">
					  <div class="form-group">
					  	<!--['35_50', '<35', '>50']-->
					    <label for="ageRangeSelect">Rango de Edad</label>
					    <select class="form-control" id="ageRangeSelect" name="age_range" [(ngModel)]="candidate.age_range">
					      <option>35_50</option>
					      <option>&lt;35</option>
					      <option>&gt;50</option>
					    </select>
				  	</div>
			    </div>
					<div class="col">
					  <div class="form-group">
					    <label for="sexSelect">Sexo</label>
					    <select class="form-control" id="sexSelect" name="sex" [(ngModel)]="candidate.sex">
					      <option>Masculino</option>
					      <option>Femenino</option>
					    </select>
				  	</div>
				  </div>
				</div>
				<div class="row">
					<div class="col">
					  <div class="form-group">
					    <label for="nacionalitySelect">Nacionalidad</label>
					    <select class="form-control" id="nacionalitySelect" name="nacionality" [(ngModel)]="candidate.nacionality">
					      <option>ARG</option>
					    </select>
				  	</div>
					</div>
					<div class="col">
					  <div class="form-group">
					    <label for="birthCitySelect">Ciudad donde vive</label>
					    <select class="form-control" id="birthCitySelect" name="birth_city" [(ngModel)]="candidate.birth_city">
					      <option>CAP FED</option>
					    </select>
				  	</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
				 	  <div class="form-group">
				 	  	<!-- ['SECUNDARIA' 'UNIVPRIV_4_7' 'UNIVPRIV_8_10' 'UNIVPUB_6_4' 'UNIVPUB_7_10']-->
					    <label for="maxEducationSelect">Máximo nivel de educación</label>
					    <select class="form-control" id="maxEducationSelect" name="max_education" [(ngModel)]="candidate.max_education">
					      <option>SECUNDARIA</option>
					      <option>UNIVPRIV_4_7</option>
 					      <option>UNIVPRIV_8_10</option>
 					      <option>UNIVPUB_6_4</option>
 					      <option>UNIVPUB_7_10</option> 					     
					    </select>
				  	</div>
					</div>
					<div class="col">
				 	  <div class="form-group">
				 	  	<!--['CUATRO' 'DOS' 'TRES' 'UNO']-->
					    <label for="idiomsSelect">Cantidad de Idiomas que domina</label>
					    <select class="form-control" id="idiomsSelect" name="idioms" [(ngModel)]="candidate.idioms">
					      <option>UNO</option>
					      <option>DOS</option>
					      <option>TRES</option>
					      <option>CUATRO</option>
					    </select>
				  	</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
				 	  <div class="form-group">
					    <label for="experienceSelect">Experiencia en el puesto</label>
					    <select class="form-control" id="experienceSelect" name="experience" [(ngModel)]="candidate.experience">
					      <option>NO</option>
					      <option>SI</option>
					    </select>
				  	</div>
					</div>
					<div class="col">
				 	  <div class="form-group">
				 	  	<!--['1_2' '3_6' '6_10' 'Mayor_10']-->
					    <label for="jobAverageSelect">Promedio de empleos anteriores</label>
					    <select class="form-control" id="jobAverageSelect" name="job_average" [(ngModel)]="candidate.job_average">  
					      <option>1_2</option>
					      <option>3_6</option>
					      <option>6_10</option>
					      <option>Mayor_10</option>
					    </select>
				  	</div>
					</div>
				</div>
		  	<h6>Habilidades Evaluadas</h6>
		  	<div class="row">
		  		<div class="col">
						<div class="form-check">
					    <label class="form-check-label">
					      <input type="checkbox" class="form-check-input" id="skillLeadershipCheck" name="skill_leadership" [(ngModel)]="candidate.skill_leadership">
					      Liderazgo
					    </label>
					  </div>
		  		</div>
		  		<div class="col">
						<div class="form-check">
					    <label class="form-check-label">
					      <input type="checkbox" class="form-check-input" id="skillSocialCheck" name="skill_social" [(ngModel)]="candidate.skill_social">
					      Social
					    </label>
					  </div>
		  		</div>
		  		<div class="col">
						<div class="form-check">
					    <label class="form-check-label">
					      <input type="checkbox" class="form-check-input" id="skillCreativityCheck"  name="skill_creativity" [(ngModel)]="candidate.skill_creativity">
					      Creatividad
					    </label>
					  </div>
		  		</div>
		  		<div class="col">
						<div class="form-check">
					    <label class="form-check-label">
					      <input type="checkbox" class="form-check-input" id="skillResponsabilityCheck" name="skill_responsability" [(ngModel)]="candidate.skill_responsability">
					      Responsabilidad
					    </label>
					  </div>
		  		</div>
		  	</div>
			</div>
		</div>
 	 </form>
 	 <p></p>
</div>