<div role="main" style="padding-bottom: 32px;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom: 1px solid #F2F2F2;">
    <a class="navbar-brand" href="#">
      <img src="assets/icon_1.png" width="60" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/candidate-form">Alta de Postulante</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/candidate-people">Reporte de Candidatos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/evaluated-employees">Nómina de Empleados</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>